<?xml version="1.0" encoding="UTF-8"?>

<phpunit
    bootstrap="tests/Bootstrap.php"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    verbose="true"
    stopOnError="false"
    stopOnFailure="false"
    stopOnIncomplete="false"
    stopOnSkipped="false"
    processIsolation="false"
    backupGlobals="false"
    syntaxCheck="true"
    columns="max">

    <testsuites name="General Test Suite">
        <directory suffix=".php">./tests/</directory>
    </testsuites>

    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>

    <php>
        <ini name="date.timezone" value="UTC"/>
        <ini name="display_errors" value="on"/>
        <ini name="display_startup_errors" value="on"/>
    </php>

    <logging>
        <log
            type="coverage-text"
            target="php://stdout"
            title="preferans/oauth-bridge"
            charset="UTF-8" yui="true"
            highlight="true"
            lowUpperBound="60"
            highLowerBound="90"/>

        <log
            type="coverage-html"
            target="build/coverage"
            title="preferans/oauth-bridge"
            charset="UTF-8" yui="true"
            highlight="true"
            lowUpperBound="60"
            highLowerBound="90"/>
    </logging>
</phpunit>
