<?xml version="1.0" encoding="UTF-8"?>

<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
    bootstrap="./vendor/autoload.php"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    verbose="true"
    stopOnError="false"
    stopOnFailure="false"
    stopOnIncomplete="false"
    stopOnSkipped="false"
    processIsolation="false"
    backupGlobals="false"
    columns="max"
    beStrictAboutTestsThatDoNotTestAnything="true"
    beStrictAboutResourceUsageDuringSmallTests="true"
    beStrictAboutChangesToGlobalState="true"
>

    <testsuites>
        <testsuite name="oAuthBridge">
            <directory suffix=".php">tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
            <exclude>
                <directory suffix="Interface.php">src/</directory>
            </exclude>
        </whitelist>
    </filter>

    <php>
        <ini name="date.timezone" value="UTC"/>
        <ini name="display_errors" value="on"/>
        <ini name="display_startup_errors" value="on"/>
    </php>

    <logging>
        <log
            type="coverage-text"
            target="php://stdout"
            lowUpperBound="60"
            highLowerBound="90"/>

        <log
            type="coverage-clover"
            target="build/coverage.xml"/>
    </logging>
</phpunit>
